@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400, 700');


.td-trader h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.td-trader h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.td-trader p,
.td-trader h3 {
  font-family: Helvetica, Arial, sans-serif
}
.td-trader-main-content {
  padding-top: 3rem;
  background: #fbfcf5;
  padding-bottom: 7rem;
  text-align: center;
}

.td-trader-main-content__logo {
  width: 380px;
}

.td-trader-main-content__logo--small {
  width: 200px;
  margin: 0 auto;
  display: block;
}

.td-trader-main-content .btn.btn-primary {
  margin-top: 1rem;
  background: #d16c55;
  border-color: #d16c55;
  font-weight: bold;
}

.td-trader-main-content .btn.btn-primary:hover {
  background: #bb5a44;
  border-color: #bb5a44;
}
.td-trader-main-content .btn.btn-primary:focus,
.td-trader-main-content .btn.btn-primary:active {
  background: #af4f39;
  border-color: #af4f39;
}

.td-trader-main-content .btn span{
  padding-left: 1rem;
  font-weight: normal;
}

.td-trader-main-content h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #146f63;
}

.td-trader-main-content p {
  color: #555555;
}

.td-trader-footer {
  padding-bottom: 4rem;
  color: #fbfcf5;
  background: #146f63;
}

.td-trader-footer h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.td-trader-footer__disclaimer h3 {
  font-size: 0.9rem;
  font-weight: bold;
}

.td-trader-footer__disclaimer p,
.td-trader-footer__disclaimer li {
  font-size: 0.7rem;
  text-align: justify;
}

.td-trader-footer__subscribe-form .btn {
  background: #fbfcf5;
  color: #146f63;
  border-color: #fbfcf5;
  font-weight: bold;
  font-size: 0.9rem;
}

.td-trader-footer__subscribe-form .form-control{
  background: #146f63; 
  color: #fbfcf5;
}

.td-trader-footer__subscribe-form input::-webkit-input-placeholder {
  color: #fbfcf5;
}
.td-trader-footer__subscribe-form input:-moz-placeholder {
  color: #fbfcf5;  
} 
.td-trader-footer__subscribe-form input::-moz-placeholder {
  color: #fbfcf5;  
}  
.td-trader-footer__subscribe-form input:-ms-input-placeholder {  
  color: #fbfcf5;  
}



@media (min-width: 576px) {
  
 }

@media (min-width: 768px) {
  
}

@media (min-width: 992px) { 
  .td-trader-main-content {
    padding-top: 9rem;
    padding-bottom: 13rem;
    text-align: left;
  }
  .td-trader-main-content h1{
    font-size: 3.7rem;
  }
 }

@media (min-width: 1200px) { 
  
 }